h1{
  color: goldenrod;
  text-align: center;
}

body{
  background-color: darkgreen;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

#start-btn{
  width: 150px;
  height: 40px;

  font-size: 21px;
  font-weight: bold;

  padding-top: 5px;
  padding-bottom: 5px;

  color: #016f32;
  background-color: #cfc627;
  border: none;
  border-radius: 10px;
}

#card-btn{
  width: 150px;
  height: 40px;

  font-size: 21px;
  font-weight: bold;

  padding-top: 5px;
  padding-bottom: 5px;

  color: #016f32;
  background-color: #cfc627;
  border: none;
  border-radius: 10px;

  visibility: hidden;
  margin-top: 4px;
}

#again-btn{
  width: 150px;
  height: 40px;

  font-size: 21px;
  font-weight: bold;

  padding-top: 5px;
  padding-bottom: 5px;

  color: #016f32;
  background-color: #cfc627;
  border: none;
  border-radius: 10px;

  visibility: hidden;
  margin-top: 4px;
}

#night-btn{

  position: absolute;
  left: 1500px;
  top: 30px;

  width: 40px;
  height: 40px;

  font-size: 21px;
  font-weight: bold;

  padding-top: 5px;
  padding-bottom: 5px;

  color: #016f32;
  background-color: #cfc627;
  border: none;
  border-radius: 10px;

  margin-top: 4px;
}
